version: '3'
services:
  node-image:
    container_name: node-container
    build: 
      context: .
      args:
        NODE_ENV: development
    environment:
      - NODE_ENV=development
    volumes:
      - ./:/app
      - /app/node_modules
    ports:
      - "3000:3000"
    command: npm run dev