version: '3'
services:
  node-image:
    container_name: node-container
    build: 
      context: .
      args:
        NODE_ENV: production
    environment:
      - NODE_ENV=production
    ports:
      - "3000:3000"
    command: npm start